@import url(https://themes.googleusercontent.com/fonts/css?kit=cGvuclDC_Z1vE_cnVEU6Ae_NZQ7StBcqH_vXVqoPMX0);

.lst-kix_e71hcqn55vv-7>li:before {
    content: "\0025cb   "
}

.lst-kix_e71hcqn55vv-6>li:before {
    content: "\0025cf   "
}

.lst-kix_e71hcqn55vv-8>li:before {
    content: "\0025a0   "
}

.lst-kix_e71hcqn55vv-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_s3e53hbnilaf-7 {
    list-style-type: none
}

ul.lst-kix_s3e53hbnilaf-6 {
    list-style-type: none
}

ul.lst-kix_s3e53hbnilaf-5 {
    list-style-type: none
}

ul.lst-kix_s3e53hbnilaf-4 {
    list-style-type: none
}

ul.lst-kix_s3e53hbnilaf-3 {
    list-style-type: none
}

ul.lst-kix_s3e53hbnilaf-2 {
    list-style-type: none
}

ul.lst-kix_s3e53hbnilaf-1 {
    list-style-type: none
}

ul.lst-kix_s3e53hbnilaf-0 {
    list-style-type: none
}

ul.lst-kix_ayvuhuctz2b6-0 {
    list-style-type: none
}

ul.lst-kix_ayvuhuctz2b6-1 {
    list-style-type: none
}

ul.lst-kix_ayvuhuctz2b6-2 {
    list-style-type: none
}

.lst-kix_s3e53hbnilaf-2>li:before {
    content: "\0025a0   "
}

.lst-kix_s3e53hbnilaf-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_ayvuhuctz2b6-3 {
    list-style-type: none
}

ul.lst-kix_ayvuhuctz2b6-4 {
    list-style-type: none
}

ul.lst-kix_ayvuhuctz2b6-5 {
    list-style-type: none
}

ul.lst-kix_ayvuhuctz2b6-6 {
    list-style-type: none
}

.lst-kix_s3e53hbnilaf-3>li:before {
    content: "\0025cf   "
}

.lst-kix_s3e53hbnilaf-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_s3e53hbnilaf-8 {
    list-style-type: none
}

ul.lst-kix_ayvuhuctz2b6-7 {
    list-style-type: none
}

ul.lst-kix_ayvuhuctz2b6-8 {
    list-style-type: none
}

.lst-kix_s3e53hbnilaf-0>li:before {
    content: "\0025cf   "
}

.lst-kix_s3e53hbnilaf-8>li:before {
    content: "\0025a0   "
}

.lst-kix_s3e53hbnilaf-1>li:before {
    content: "\0025cb   "
}

.lst-kix_s3e53hbnilaf-6>li:before {
    content: "\0025cf   "
}

.lst-kix_s3e53hbnilaf-5>li:before {
    content: "\0025a0   "
}

.lst-kix_33d4hwg3ik7-2>li:before {
    content: "\0025a0   "
}

.lst-kix_33d4hwg3ik7-4>li:before {
    content: "\0025cb   "
}

.lst-kix_ptg0momgl8st-1>li:before {
    content: "\0025cb   "
}

.lst-kix_ptg0momgl8st-3>li:before {
    content: "\0025cf   "
}

.lst-kix_dsvsd16adjm9-7>li:before {
    content: "\0025cb   "
}

.lst-kix_mlvuw4ogtde0-2>li:before {
    content: "\0025a0   "
}

.lst-kix_dsvsd16adjm9-5>li:before {
    content: "\0025a0   "
}

.lst-kix_mlvuw4ogtde0-4>li:before {
    content: "\0025cb   "
}

.lst-kix_mlvuw4ogtde0-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_dsvsd16adjm9-8 {
    list-style-type: none
}

ul.lst-kix_dsvsd16adjm9-7 {
    list-style-type: none
}

ul.lst-kix_dsvsd16adjm9-6 {
    list-style-type: none
}

ul.lst-kix_dsvsd16adjm9-5 {
    list-style-type: none
}

ul.lst-kix_dsvsd16adjm9-4 {
    list-style-type: none
}

.lst-kix_ow939yyath3n-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_dsvsd16adjm9-3 {
    list-style-type: none
}

ul.lst-kix_dsvsd16adjm9-2 {
    list-style-type: none
}

ul.lst-kix_dsvsd16adjm9-1 {
    list-style-type: none
}

.lst-kix_mlvuw4ogtde0-8>li:before {
    content: "\0025a0   "
}

.lst-kix_33d4hwg3ik7-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_dsvsd16adjm9-0 {
    list-style-type: none
}

.lst-kix_ptg0momgl8st-5>li:before {
    content: "\0025a0   "
}

.lst-kix_ptg0momgl8st-7>li:before {
    content: "\0025cb   "
}

.lst-kix_dsvsd16adjm9-1>li:before {
    content: "\0025cb   "
}

.lst-kix_dsvsd16adjm9-3>li:before {
    content: "\0025cf   "
}

.lst-kix_mlvuw4ogtde0-0>li:before {
    content: "\0025cf   "
}

.lst-kix_e71hcqn55vv-0>li:before {
    content: "\0025cf   "
}

.lst-kix_e71hcqn55vv-2>li:before {
    content: "\0025a0   "
}

.lst-kix_e71hcqn55vv-4>li:before {
    content: "\0025cb   "
}

.lst-kix_t2fl0x7tg0zg-3>li:before {
    content: "\0025cf   "
}

.lst-kix_t2fl0x7tg0zg-5>li:before {
    content: "\0025a0   "
}

.lst-kix_ow939yyath3n-5>li:before {
    content: "\0025a0   "
}

.lst-kix_f509rikcvsi6-1>li:before {
    content: "\0025cb   "
}

.lst-kix_f509rikcvsi6-3>li:before {
    content: "\0025cf   "
}

.lst-kix_t2fl0x7tg0zg-7>li:before {
    content: "\0025cb   "
}

.lst-kix_ow939yyath3n-3>li:before {
    content: "\0025cf   "
}

.lst-kix_f509rikcvsi6-5>li:before {
    content: "\0025a0   "
}

.lst-kix_f509rikcvsi6-7>li:before {
    content: "\0025cb   "
}

.lst-kix_t2fl0x7tg0zg-1>li:before {
    content: "\0025cb   "
}

.lst-kix_ow939yyath3n-7>li:before {
    content: "\0025cb   "
}

.lst-kix_sot9t64csqe1-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_mlvuw4ogtde0-1 {
    list-style-type: none
}

ul.lst-kix_mlvuw4ogtde0-2 {
    list-style-type: none
}

.lst-kix_sot9t64csqe1-6>li:before {
    content: "\0025cf   "
}

.lst-kix_sot9t64csqe1-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_mlvuw4ogtde0-0 {
    list-style-type: none
}

.lst-kix_sot9t64csqe1-3>li:before {
    content: "\0025cf   "
}

.lst-kix_sot9t64csqe1-2>li:before {
    content: "\0025a0   "
}

.lst-kix_sot9t64csqe1-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_t2fl0x7tg0zg-1 {
    list-style-type: none
}

ul.lst-kix_t2fl0x7tg0zg-0 {
    list-style-type: none
}

.lst-kix_sot9t64csqe1-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_mlvuw4ogtde0-7 {
    list-style-type: none
}

ul.lst-kix_mlvuw4ogtde0-8 {
    list-style-type: none
}

.lst-kix_sot9t64csqe1-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_mlvuw4ogtde0-5 {
    list-style-type: none
}

ul.lst-kix_mlvuw4ogtde0-6 {
    list-style-type: none
}

ul.lst-kix_mlvuw4ogtde0-3 {
    list-style-type: none
}

ul.lst-kix_mlvuw4ogtde0-4 {
    list-style-type: none
}

ul.lst-kix_t2fl0x7tg0zg-8 {
    list-style-type: none
}

ul.lst-kix_t2fl0x7tg0zg-7 {
    list-style-type: none
}

ul.lst-kix_t2fl0x7tg0zg-6 {
    list-style-type: none
}

.lst-kix_xoeejhrfuml0-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_t2fl0x7tg0zg-5 {
    list-style-type: none
}

ul.lst-kix_t2fl0x7tg0zg-4 {
    list-style-type: none
}

ul.lst-kix_t2fl0x7tg0zg-3 {
    list-style-type: none
}

ul.lst-kix_t2fl0x7tg0zg-2 {
    list-style-type: none
}

.lst-kix_xoeejhrfuml0-6>li:before {
    content: "\0025cf   "
}

.lst-kix_xoeejhrfuml0-5>li:before {
    content: "\0025a0   "
}

.lst-kix_xoeejhrfuml0-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_f509rikcvsi6-7 {
    list-style-type: none
}

.lst-kix_xoeejhrfuml0-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_ptg0momgl8st-7 {
    list-style-type: none
}

ul.lst-kix_f509rikcvsi6-6 {
    list-style-type: none
}

ul.lst-kix_ptg0momgl8st-8 {
    list-style-type: none
}

ul.lst-kix_f509rikcvsi6-5 {
    list-style-type: none
}

.lst-kix_xoeejhrfuml0-1>li:before {
    content: "\0025cb   "
}

.lst-kix_xoeejhrfuml0-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_f509rikcvsi6-4 {
    list-style-type: none
}

ul.lst-kix_f509rikcvsi6-3 {
    list-style-type: none
}

.lst-kix_xoeejhrfuml0-0>li:before {
    content: "\0025cf   "
}

.lst-kix_xoeejhrfuml0-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_ptg0momgl8st-3 {
    list-style-type: none
}

ul.lst-kix_f509rikcvsi6-2 {
    list-style-type: none
}

ul.lst-kix_ptg0momgl8st-4 {
    list-style-type: none
}

ul.lst-kix_f509rikcvsi6-1 {
    list-style-type: none
}

ul.lst-kix_ptg0momgl8st-5 {
    list-style-type: none
}

ul.lst-kix_f509rikcvsi6-0 {
    list-style-type: none
}

ul.lst-kix_ptg0momgl8st-6 {
    list-style-type: none
}

ul.lst-kix_ptg0momgl8st-0 {
    list-style-type: none
}

ul.lst-kix_ptg0momgl8st-1 {
    list-style-type: none
}

ul.lst-kix_ptg0momgl8st-2 {
    list-style-type: none
}

ul.lst-kix_f509rikcvsi6-8 {
    list-style-type: none
}

.lst-kix_ayvuhuctz2b6-5>li:before {
    content: "\0025a0   "
}

.lst-kix_ayvuhuctz2b6-7>li:before {
    content: "\0025cb   "
}

.lst-kix_ayvuhuctz2b6-4>li:before {
    content: "\0025cb   "
}

.lst-kix_ayvuhuctz2b6-8>li:before {
    content: "\0025a0   "
}

.lst-kix_ayvuhuctz2b6-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_e71hcqn55vv-0 {
    list-style-type: none
}

ul.lst-kix_e71hcqn55vv-1 {
    list-style-type: none
}

.lst-kix_ayvuhuctz2b6-0>li:before {
    content: "\0025cf   "
}

.lst-kix_ayvuhuctz2b6-1>li:before {
    content: "\0025cb   "
}

.lst-kix_ayvuhuctz2b6-3>li:before {
    content: "\0025cf   "
}

.lst-kix_ayvuhuctz2b6-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_e71hcqn55vv-8 {
    list-style-type: none
}

ul.lst-kix_e71hcqn55vv-6 {
    list-style-type: none
}

ul.lst-kix_e71hcqn55vv-7 {
    list-style-type: none
}

ul.lst-kix_e71hcqn55vv-4 {
    list-style-type: none
}

ul.lst-kix_e71hcqn55vv-5 {
    list-style-type: none
}

ul.lst-kix_e71hcqn55vv-2 {
    list-style-type: none
}

ul.lst-kix_e71hcqn55vv-3 {
    list-style-type: none
}

.lst-kix_sot9t64csqe1-0>li:before {
    content: "\0025cf   "
}

.lst-kix_33d4hwg3ik7-7>li:before {
    content: "\0025cb   "
}

.lst-kix_33d4hwg3ik7-6>li:before {
    content: "\0025cf   "
}

.lst-kix_33d4hwg3ik7-8>li:before {
    content: "\0025a0   "
}

.lst-kix_33d4hwg3ik7-3>li:before {
    content: "\0025cf   "
}

.lst-kix_33d4hwg3ik7-1>li:before {
    content: "\0025cb   "
}

.lst-kix_33d4hwg3ik7-5>li:before {
    content: "\0025a0   "
}

.lst-kix_dsvsd16adjm9-8>li:before {
    content: "\0025a0   "
}

.lst-kix_ptg0momgl8st-0>li:before {
    content: "\0025cf   "
}

.lst-kix_ptg0momgl8st-4>li:before {
    content: "\0025cb   "
}

.lst-kix_dsvsd16adjm9-6>li:before {
    content: "\0025cf   "
}

.lst-kix_mlvuw4ogtde0-3>li:before {
    content: "\0025cf   "
}

.lst-kix_ptg0momgl8st-2>li:before {
    content: "\0025a0   "
}

.lst-kix_mlvuw4ogtde0-5>li:before {
    content: "\0025a0   "
}

.lst-kix_ow939yyath3n-0>li:before {
    content: "\0025cf   "
}

.lst-kix_ptg0momgl8st-8>li:before {
    content: "\0025a0   "
}

.lst-kix_mlvuw4ogtde0-7>li:before {
    content: "\0025cb   "
}

.lst-kix_ptg0momgl8st-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_33d4hwg3ik7-2 {
    list-style-type: none
}

ul.lst-kix_33d4hwg3ik7-1 {
    list-style-type: none
}

ul.lst-kix_33d4hwg3ik7-0 {
    list-style-type: none
}

ul.lst-kix_33d4hwg3ik7-6 {
    list-style-type: none
}

ul.lst-kix_33d4hwg3ik7-5 {
    list-style-type: none
}

ul.lst-kix_33d4hwg3ik7-4 {
    list-style-type: none
}

ul.lst-kix_33d4hwg3ik7-3 {
    list-style-type: none
}

ul.lst-kix_33d4hwg3ik7-8 {
    list-style-type: none
}

ul.lst-kix_33d4hwg3ik7-7 {
    list-style-type: none
}

.lst-kix_dsvsd16adjm9-2>li:before {
    content: "\0025a0   "
}

.lst-kix_dsvsd16adjm9-0>li:before {
    content: "\0025cf   "
}

.lst-kix_dsvsd16adjm9-4>li:before {
    content: "\0025cb   "
}

.lst-kix_mlvuw4ogtde0-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_sot9t64csqe1-6 {
    list-style-type: none
}

ul.lst-kix_sot9t64csqe1-5 {
    list-style-type: none
}

ul.lst-kix_sot9t64csqe1-8 {
    list-style-type: none
}

ul.lst-kix_sot9t64csqe1-7 {
    list-style-type: none
}

ul.lst-kix_sot9t64csqe1-2 {
    list-style-type: none
}

ul.lst-kix_sot9t64csqe1-1 {
    list-style-type: none
}

ul.lst-kix_sot9t64csqe1-4 {
    list-style-type: none
}

ul.lst-kix_sot9t64csqe1-3 {
    list-style-type: none
}

ul.lst-kix_sot9t64csqe1-0 {
    list-style-type: none
}

ul.lst-kix_ow939yyath3n-2 {
    list-style-type: none
}

ul.lst-kix_ow939yyath3n-3 {
    list-style-type: none
}

ul.lst-kix_ow939yyath3n-0 {
    list-style-type: none
}

ul.lst-kix_ow939yyath3n-1 {
    list-style-type: none
}

ul.lst-kix_ow939yyath3n-6 {
    list-style-type: none
}

ul.lst-kix_ow939yyath3n-7 {
    list-style-type: none
}

ul.lst-kix_ow939yyath3n-4 {
    list-style-type: none
}

ul.lst-kix_ow939yyath3n-5 {
    list-style-type: none
}

.lst-kix_e71hcqn55vv-1>li:before {
    content: "\0025cb   "
}

.lst-kix_t2fl0x7tg0zg-8>li:before {
    content: "\0025a0   "
}

.lst-kix_e71hcqn55vv-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_xoeejhrfuml0-3 {
    list-style-type: none
}

ul.lst-kix_xoeejhrfuml0-2 {
    list-style-type: none
}

ul.lst-kix_xoeejhrfuml0-1 {
    list-style-type: none
}

ul.lst-kix_xoeejhrfuml0-0 {
    list-style-type: none
}

.lst-kix_ow939yyath3n-6>li:before {
    content: "\0025cf   "
}

.lst-kix_ow939yyath3n-8>li:before {
    content: "\0025a0   "
}

.lst-kix_f509rikcvsi6-0>li:before {
    content: "\0025cf   "
}

.lst-kix_t2fl0x7tg0zg-0>li:before {
    content: "\0025cf   "
}

.lst-kix_t2fl0x7tg0zg-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_xoeejhrfuml0-8 {
    list-style-type: none
}

.lst-kix_ow939yyath3n-2>li:before {
    content: "\0025a0   "
}

.lst-kix_ow939yyath3n-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_xoeejhrfuml0-7 {
    list-style-type: none
}

ul.lst-kix_xoeejhrfuml0-6 {
    list-style-type: none
}

ul.lst-kix_xoeejhrfuml0-5 {
    list-style-type: none
}

.lst-kix_f509rikcvsi6-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_xoeejhrfuml0-4 {
    list-style-type: none
}

.lst-kix_t2fl0x7tg0zg-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_ow939yyath3n-8 {
    list-style-type: none
}

.lst-kix_f509rikcvsi6-4>li:before {
    content: "\0025cb   "
}

.lst-kix_f509rikcvsi6-8>li:before {
    content: "\0025a0   "
}

.lst-kix_f509rikcvsi6-6>li:before {
    content: "\0025cf   "
}

.lst-kix_t2fl0x7tg0zg-2>li:before {
    content: "\0025a0   "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c37 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    background-color: #f8f8f8;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 451.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c17 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 150.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c12 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    font-weight: 400;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c44 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c31 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Arial";
    font-style: normal
}

.c39 {
    margin-left: 72pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c47 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Arial";
    font-style: normal
}

.c42 {
    background-color: #f8f8f8;
    color: #333333;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c40 {
    margin-left: 36pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c48 {
    margin-left: 18pt;
    padding-top: 3pt;
    padding-bottom: 4pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c45 {
    padding-top: 12pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c8 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c28 {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Arial";
    font-style: normal
}

.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal
}

.c54 {
    background-color: #f8f8f8;
    color: #dd1144;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c13 {
    margin-left: 18pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c33 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c20 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c32 {
    padding-top: 14pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c49 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c25 {
    margin-left: 54pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c27 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c34 {
    padding-top: 16pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c50 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: right;
    height: 11pt
}

.c36 {
    padding-top: 4pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    padding-top: .4em;
    padding-bottom: .4em;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c7 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c43 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Arial";
    font-style: normal
}

.c30 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c52 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c51 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial"
}

.c29 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #999988;
    font-weight: 400
}

.c2 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #dd1144;
    font-weight: 400
}

.c22 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #0086b3;
    font-weight: 400
}

.c35 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c23 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c16 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c15 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #008080;
    font-weight: 400
}

.c3 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #333333;
    font-weight: 400
}

.c21 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c26 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c10 {
    background-color: #f8f8f8;
    font-family: "Consolas";
    color: #333333;
    font-weight: 700
}

.c24 {
    font-family: "Consolas";
    color: #333333;
    font-weight: 400
}

.c46 {
    background-color: #ffffff;
    padding: 72pt 72pt 72pt 72pt
}

.c9 {
    padding: 0;
    margin: 0
}

.c53 {
    width: 33%;
    height: 1px
}

.c0 {
    color: inherit;
    text-decoration: inherit
}

.c14 {
    margin-left: 36pt;
    text-indent: -36pt
}

.c18 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c11 {
    height: 0pt
}

.c38 {
    font-size: 11pt
}

.c19 {
    font-style: italic
}

.c6 {
    font-size: 10pt
}

.c41 {
    font-weight: 700
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.version {
    text-align: right;
    text-decoration: none;
    padding-top: .5em;
    padding-bottom: .5em;
    color: rgba(97, 97, 97, 1);
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}